html {
  font-size: 18px;
  font-family: Helvetica;
  color: white;
}

/*All page generic*/
.container {
}

/*Top header styling*/
header {
  background: black;
  display: flex;
  align-items: center;
  height: 3rem;
}

header img {
  height: 1.5rem;
  width: auto;
  padding-left: 0.5rem;
}

header h3 {
  font-size: 1rem;
  padding: 0.66rem 1rem;
  display: flex;
}

/*Main banner image styling*/
.banner {
  width: 100%;
  height: 25rem;
  background-image: url(../moto.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.square {
  background-color: black;
  height: 10rem;
  width: 25rem;
  position: relative;
  top: 8rem;
}

.square h3 {
  font-size: 1rem;
  font-weight: bold;
  padding-left: 3rem;
  padding-top: 2.25rem;
}

.square h1 {
  font-size: 2rem;
  font-weight: bold;
  padding-left: 3rem;
  padding-top: 0.5rem;
}

/*Navigation strip styling*/
nav {
  background-color: firebrick;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

nav a {
  color: white;
  text-decoration: none;
  align-items: center;
  justify-content: space-around;
}

/*Shop/product listing styling*/
.shop {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  top: 3rem;
}

.products {
  border: 4px solid black;
  display: flex;
  flex-direction: column;
  max-width: 30%;
}

.products span {
  background-color: black;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  text-align: center;
}

.products img {
  height: 9rem;
  width: 9rem;
  margin: 2rem 3.25rem;
}

#glasses img {
  height: auto;
  margin-top: 77px;
  margin-bottom: 77px;
}

/*Contact us section styling*/
.contactus {
  position: relative;
  top: 6rem;
  display: flex;
  max-width: 35%;
  justify-content: space-between;
}

.information {
}

.information h3 {
  background-color: black;
  padding: 1rem 2rem;
}

.information span {
  color: black;
}

/*Footer content*/
footer {
  position: relative;
  top: 9rem;
  background-color: black;
  height: 5rem;
}

footer span {

}
